@media (min-width: 900px) {
  /*@media (min-width: 1200px) { */

  .grumbaum-zoomer {
    animation: grumbaumzoominout 400s infinite;
    transform-origin: center center;
  }

  .grumbaum-img {
    margin: 0 auto;
    position: static;
    display: block;
  }

  .void-zoomer {
    animation: voidzoominout 100s infinite;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
