@media (min-width: 767px) {
  /*@media (min-width: 1200px) {*/
  .grumbaum--zoomer {
    animation: grumbaumzoominout 200s infinite;
    transform-origin: center center;
  }

  .grumbaum__img--rotate {
    animation: rotateblock 300s infinite alternate;
    transform-origin: center center;
  }

  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
